@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kaushan Script', cursive;

}

$maroon: #381D2A;

:root {
	--skintone-color: #DE9B72;
	--dark-color: #3A3D3E;
}

#todo {
	height: 100vh;
	width: 100vw;
	background: var(--dark-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

#exterior {
	height: 80vh;
	width: 60%;
	border:1px solid var(--skintone-color);
	display: flex;
	justify-content: center;
	align-items: center;

	#medio {
		height: 95%;
		width: 95%;
		border:7px solid var(--skintone-color);
		display: flex;
		justify-content: center;
		align-items: center;

		#interior {
			height: 95%;
			width: 95%;
			border:1px solid var(--skintone-color);
			display: flex;
			justify-content: center;
			align-items: center;
			perspective: 1000px;

			#top-left {
				height: 10vh;
				z-index: 3;
				position: absolute;
				top:-0.5vw;//top:14vh;left: 47vh;
				left: -0.5vw;

			}
			#top-right {
				height: 10vh;
				z-index: 3;
				position: absolute;
				top:-0.5vw;//top:14vh;left: 47vh;
				left: 49vw;
				-webkit-transform: scaleX(-1);
				
			}
			#bottom-left {
				height: 10vh;
				z-index: 3;
				position: absolute;
				top:30vw;//top:14vh;left: 47vh;
				left: -0.5vw;
				-webkit-transform: scaleY(-1);
			}
			#bottom-right {
				height: 10vh;
				z-index: 3;
				position: absolute;
				top:30vw;//top:14vh;left: 47vh;
				left: 49vw;
				-webkit-transform: scale(-1);
			}
		}
	}
}
h1 {
	text-align: center;
	font-size: 40px;
	color:white;
	letter-spacing: 5px;
}
#tit {
	display: none;
}



.flipped {
	background:#FFF8E6;
	h1 {
		display: none;
	}
	img {
		display: none;
	}
	#tit {
		display: flex;
		flex-direction: column;
		transform: rotateY(180deg);
		color:white;
		animation: typing 7s forwards;
		font-size: 40px;
		align-items: center;
  	 	height: 100%;
   		justify-content: space-evenly;
   		word-wrap: break-word;
   		#message {
   			
   			width: 80%;
   			text-align: center;
   			font-size: 28px;
   			word-wrap: break-word;
   			&::after {
   				animation: changeLetter 3s linear infinite alternate;
   				//content: "asdasd";
   			}
   		}
	}

	@keyframes changeLetter {
		  0% {
		    content: "A";
		  }
		  50% {
		  	color: blue;
		  }
		  100% {
		    content: "B";
		  }
		}
	@keyframes typing {
		  from {
		  	color: white;
		  }
		  to {
		  	color: red;
		  }
	}
	#medio {
		#interior {
			 border: 8px dotted $maroon !important;
		}
	}
}

svg {
	height: 70px;
}

#primero {
	display: flex;
	width: 55vw;
    justify-content: center;
    align-items: end;
}
#ultimo {
	display: flex;
	width: 55vw;
	justify-content: center;
	align-items:center;
}

#snow {
	position:absolute;
	z-index: 3;
	height: 95vh;
    width: 95%;
}

@media (max-width: 1300px) { 
	.corner-decoration {
		display: none;
	}
}